{% block netinfluence_upload_file_row %}
    {% spaceless %}
        <div
                id="ni-ub-{{ form.vars.name }}"
                class="ni-ub"
                {# only simple upload for now #}
                data-max-files=1
                data-form-name="{{ form.vars.name }}"
                data-url="{{ path('netinfluence_upload_api_upload_image') }}"
        >
            {# just render the 2 widgets without labels nor space around #}
            {{ form_widget(form.path) }}
            {{ form_widget(form.temporary) }}

            <div id="ni-ub-dz-{{ form.vars.name }}" class="ni-ub-dz dropzone">
                {# Dropzone will be here! #}
            </div>

            <div id="ni-ub-error-{{ form.vars.name }}" class="ni-ub-error">
                {# Will be filled with eventual errors #}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
