{% block netinfluence_upload_image_inner_row %}
    {% spaceless %}
        <div class="ni-ub-dz-image-{{ form.vars.name }}">
            {# just render the 2 widgets without labels nor space around #}
            {{ form_widget(form.path, {'attr': {'data-path': ''}) }}
            {{ form_widget(form.temporary, {'attr': {'data-temporary': ''}}) }}

            {# and there may be extra fields set by user #}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block netinfluence_upload_image_row %}
    {% spaceless %}
        <div id="ni-ub-{{ form.vars.name }}" class="ni-ub" data-name="{{ form.vars.name }}">
            {{ block('netinfluence_upload_image_inner_row') }}

            <div id="ni-ub-dz-{{ form.vars.name }}" class="ni-ub-dz dropzone" {{ block('dropzone_attributes') }}>
                {# Dropzone will be here! #}
            </div>

            <div id="ni-ub-error-{{ form.vars.name }}" class="ni-ub-error">
                {# Will be filled with eventual errors #}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block netinfluence_upload_image_collection_row %}
    {% spaceless %}
        <div id="ni-ub-{{ form.vars.name }}" class="ni-ub" data-name="{{ form.vars.name }}">
            {%- set attr = attr|merge({'data-collection': ''}) -%}
            {{- block('collection_widget') -}}

            <div id="ni-ub-dz-{{ form.vars.name }}" class="ni-ub-dz dropzone" {{ block('dropzone_attributes') }}>
                {# Dropzone will be here! #}
            </div>

            <div id="ni-ub-error-{{ form.vars.name }}" class="ni-ub-error">
                {# Will be filled with eventual errors #}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{#
    We pass somme options to Dropzone.js
    Watch out jQuery .data() will convert snake-case to camelCase
    Unfortunately basic Dropzone has no way to do this
 #}
{% block dropzone_attributes %}
    data-url="{{ path('netinfluence_upload_api_upload_image') }}"

    {% if form.vars.max_files != 0 %}data-max-files={{ form.vars.max_files }}{% endif %}

    {# localized messages #}
    data-dict-default-message="{{ 'dropzone.dictDefaultMessage'|trans }}"
    data-dict-invalid-file-type="{{ 'dropzone.dictInvalidFileType'|trans }}"
    data-dict-file-too-big="{{ 'dropzone.dictFileTooBig'|trans }}"
    data-dict-cancel-upload="{{ 'dropzone.dictCancelUpload'|trans }}"
    data-dict-cancel-upload-confirmation="{{ 'dropzone.dictCancelUploadConfirmation'|trans }}"
    data-dict-max-files-exceeded="{{ 'dropzone.dictMaxFilesExceeded'|trans }}"
    data-dict-remove-file="{{ 'dropzone.dictRemoveFile'|trans }}"
    data-dict-response-error="{{ 'dropzone.dictResponseError'|trans }}"
{% endblock dropzone_attributes %}
